mixin head(data)
  head
    meta(charset='utf-8')
    block meta
      title Главная страница
      meta(name='description', content='Главная страница')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    meta(name='theme-color', content='#fafafa')

    // Place favicon.ico in the root directory
    //- favicon standart
    link(rel='icon', type='image/png', sizes='32x32', href='/favicon.ico')
    link(rel='icon', type='image/png', sizes='16x16', href='/favicon.ico')
    link(rel='shortcut icon', href='/icons/favicon.ico')

    //- favicon html5
    link(rel='icon', href='favicon.png', sizes='16x16', type='image/png')
    link(rel='icon', href='favicon.ico', sizes='16x16 32x32', type='image/vnd.microsoft.icon')
    link(rel='icon', href='favicon.svg', sizes='any', type='image/svg+xml')

    //- favicon android
    link(rel='manifest', href='/site.webmanifest')
    //- favicon apple
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon.png')
    link(rel='mask-icon', href='mask.svg', color='red')
    link(rel='mask-icon', href='/safari-pinned-tab.svg', color='#5bbad5')
    //- favicon Edge and IE 12
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-config', content='/browserconfig.xml')

    block style
      link(rel='stylesheet', href='css/normalize.css')
      link(rel='stylesheet', href='css/main.css')
