extends components/layout/layout-main/layout-main.pug
//- Meta title and descriptions
block meta
  title Главная страница
  meta(name='description', content='Главная страница')
//- body
//-   p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto magnam fugit dolorum laudantium in exercitationem sapiente necessitatibus hic voluptatibus reprehenderit dolore eos eum labore maxime debitis, eligendi laboriosam ex beatae esse totam doloribus a impedit unde? Illo, cumque dolores assumenda tempora officia libero animi itaque iusto minima aspernatur non quidem magnam facilis. Ipsum quo itaque est, veniam in natus quas provident ipsa reprehenderit nemo dolorem expedita exercitationem perspiciatis velit obcaecati debitis odio voluptatum iusto impedit excepturi fugit, explicabo necessitatibus cumque! Ipsum maiores ullam consequatur in quod nam molestiae dolorum, adipisci consequuntur atque voluptatum repellendus, temporibus voluptates veniam minus deleniti aliquam?
